$font1: 'Special Elite', monospace;
$font2: 'Amatic SC', cursive;

html {
     font-size: 62.5%;
}

body{
     font-size: 2rem;
     font-family: $font1;
     letter-spacing: 1px;
     // overflow: hidden;
}

header {
     // border: 1px solid red;
     font-family: $font2;
}
main {
     border: 1px solid rgba(000,000,000,0);
     // padding: px
     // background: black;
     background: #505050;
}

.wrapper {
     // width: 90%;
     max-width: 750px;
     margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }



