
.page {
     margin: 20px 0 200px 0;
     padding: 7% 5%;
     border: 1px solid rgba(000, 000, 000, 0);
     height: 100vh;
     background: white;
     .margin {
          border: 1px dashed rgba(000, 000, 000, 0);
          width: 100%;
          height: 100%;
          position: relative;
     }
     .content {
          width: 100%;
          height: 100%;
     }
     .cursor {
          border-bottom: 3px solid red;
          height: 25px;
          width: 18px;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 100;
     }
     .stop {
          border: 1px solid red;
          height: 100%;
          width: 1px;
          position: absolute;
          right: 0;
     }
     .bottom {
          border: 1px solid red;
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 0;
     }
}