
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

// input[type=range]:focus {
//   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


//style for chrome
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  border-bottom: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px; 
  box-shadow: 1px 1px 0px #FAFAFA, 2px 2px 0px #000000; 
}

// style for Firefox 
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 0px #FAFAFA, 2px 2px 0px #000000;
border: 1px solid #000000;
border-bottom: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

// style for IE ... even though I don't want to
input[type=range]::-ms-thumb {    
  box-shadow: 1px 1px 0px #FAFAFA, 2px 2px 0px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  
}

input[type=range].ink-slider:focus::-webkit-slider-thumb,
input[type=range].ink-slider:hover::-webkit-slider-thumb {
     background: #232323;
     border: 1px solid #fff;
     box-shadow: 1px 1px 0px #232323, 2px 2px 0px white;

}
input[type=range].ink-slider:focus::-moz-range-thumb, 
input[type=range].ink-slider:hover::-moz-range-thumb {
     background: #232323;
     border: 1px solid #fff;
     box-shadow: 1px 1px 0px #232323, 2px 2px 0px white;
}
input[type=range].ink-slider:hover::-ms-thumb, 
input[type=range].ink-slider:focus::-ms-thumb {
     background: #232323;
     border: 1px solid #fff;
     box-shadow: 1px 1px 0px #232323, 2px 2px 0px white;
}
input[type=range].jank-slider:focus::-webkit-slider-thumb,
input[type=range].jank-slider:hover::-webkit-slider-thumb {
     background: #232323;
     border: 1px solid #fff;
     box-shadow: 1px 1px 0px #232323, 2px 2px 0px white;
}
input[type=range].jank-slider:focus::-moz-range-thumb, 
input[type=range].jank-slider:hover::-moz-range-thumb {
     background: #232323;
     border: 1px solid #fff;
     box-shadow: 1px 1px 0px #232323, 2px 2px 0px white;
}
input[type=range].jank-slider:hover::-ms-thumb, 
input[type=range].jank-slider:focus::-ms-thumb {
     background: #232323;
     border: 1px solid #fff;
     box-shadow: 1px 1px 0px #232323, 2px 2px 0px white;
}


//HERE is the track styles:

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #000000;
  background: #FAFAFA;
  border-radius: 10px;
  border: 1px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FAFAFA;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #000000;
  background: #FAFAFA;
  border: 1px solid #010101;
  border-radius: 10px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FAFAFA;
  border: 1px solid #010101;
  border-radius: 50%;
  box-shadow: 1px 1px 0px #000000;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FAFAFA;
}
input[type=range]::-ms-fill-upper {
  background: #FAFAFA;
  border: 1px solid #010101;
  border-radius: 50%;
  box-shadow: 1px 1px 0px #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FAFAFA;
}